<a href="https://colab.research.google.com/github/RojaCM/Sample-files/blob/main/Decision%20tree%20Random%20forest%20classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import files
uploaded = files.upload()

Saving horse.csv to horse.csv

In [3]:
df = pd.read_csv('horse.csv')

In [4]:
df.head()

  surgery    age  hospital_number  ...  lesion_2  lesion_3  cp_data
0      no  adult           530101  ...         0         0       no
1     yes  adult           534817  ...         0         0       no
2      no  adult           530334  ...         0         0      yes
3     yes  young          5290409  ...         0         0      yes
4      no  adult           530255  ...         0         0       no

[5 rows x 28 columns]

In [5]:
df.shape

(299, 28)

In [6]:
df.columns

Index(['surgery', 'age', 'hospital_number', 'rectal_temp', 'pulse',
       'respiratory_rate', 'temp_of_extremities', 'peripheral_pulse',
       'mucous_membrane', 'capillary_refill_time', 'pain', 'peristalsis',
       'abdominal_distention', 'nasogastric_tube', 'nasogastric_reflux',
       'nasogastric_reflux_ph', 'rectal_exam_feces', 'abdomen',
       'packed_cell_volume', 'total_protein', 'abdomo_appearance',
       'abdomo_protein', 'outcome', 'surgical_lesion', 'lesion_1', 'lesion_2',
       'lesion_3', 'cp_data'],
      dtype='object')

In [7]:
df.isnull().sum()

surgery                    0
age                        0
hospital_number            0
rectal_temp               60
pulse                     24
respiratory_rate          58
temp_of_extremities       56
peripheral_pulse          69
mucous_membrane           47
capillary_refill_time     32
pain                      55
peristalsis               44
abdominal_distention      56
nasogastric_tube         104
nasogastric_reflux       106
nasogastric_reflux_ph    246
rectal_exam_feces        102
abdomen                  118
packed_cell_volume        29
total_protein             33
abdomo_appearance        165
abdomo_protein           198
outcome                    0
surgical_lesion            0
lesion_1                   0
lesion_2                   0
lesion_3                   0
cp_data                    0
dtype: int64

In [8]:
category_variables = ['surgery', 'age', 'temp_of_extremities','peripheral_pulse',
       'mucous_membrane', 'capillary_refill_time', 'pain', 'peristalsis',
       'abdominal_distention', 'nasogastric_tube', 'nasogastric_reflux', 'rectal_exam_feces', 'abdomen',
      'abdomo_appearance', 'surgical_lesion','cp_data']

for i in category_variables:
  df[i]=pd.get_dummies(df[i])

In [9]:
df

     surgery  age  hospital_number  ...  lesion_2  lesion_3  cp_data
0          1    1           530101  ...         0         0        1
1          0    1           534817  ...         0         0        1
2          1    1           530334  ...         0         0        0
3          0    0          5290409  ...         0         0        0
4          1    1           530255  ...         0         0        1
..       ...  ...              ...  ...       ...       ...      ...
294        0    1           533886  ...         0         0        1
295        1    1           527702  ...         0         0        0
296        0    1           529386  ...         0         0        1
297        0    1           530612  ...         0         0        0
298        0    1           534618  ...         0         0        1

[299 rows x 28 columns]

In [10]:
# label encoder for target variable 
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['outcome']= le.fit_transform(df.outcome)

In [11]:
df

     surgery  age  hospital_number  ...  lesion_2  lesion_3  cp_data
0          1    1           530101  ...         0         0        1
1          0    1           534817  ...         0         0        1
2          1    1           530334  ...         0         0        0
3          0    0          5290409  ...         0         0        0
4          1    1           530255  ...         0         0        1
..       ...  ...              ...  ...       ...       ...      ...
294        0    1           533886  ...         0         0        1
295        1    1           527702  ...         0         0        0
296        0    1           529386  ...         0         0        1
297        0    1           530612  ...         0         0        0
298        0    1           534618  ...         0         0        1

[299 rows x 28 columns]

In [12]:
!apt-get install Imputer

Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package Imputer

In [13]:
df.isnull().sum()

surgery                    0
age                        0
hospital_number            0
rectal_temp               60
pulse                     24
respiratory_rate          58
temp_of_extremities        0
peripheral_pulse           0
mucous_membrane            0
capillary_refill_time      0
pain                       0
peristalsis                0
abdominal_distention       0
nasogastric_tube           0
nasogastric_reflux         0
nasogastric_reflux_ph    246
rectal_exam_feces          0
abdomen                    0
packed_cell_volume        29
total_protein             33
abdomo_appearance          0
abdomo_protein           198
outcome                    0
surgical_lesion            0
lesion_1                   0
lesion_2                   0
lesion_3                   0
cp_data                    0
dtype: int64

In [14]:
df

     surgery  age  hospital_number  ...  lesion_2  lesion_3  cp_data
0          1    1           530101  ...         0         0        1
1          0    1           534817  ...         0         0        1
2          1    1           530334  ...         0         0        0
3          0    0          5290409  ...         0         0        0
4          1    1           530255  ...         0         0        1
..       ...  ...              ...  ...       ...       ...      ...
294        0    1           533886  ...         0         0        1
295        1    1           527702  ...         0         0        0
296        0    1           529386  ...         0         0        1
297        0    1           530612  ...         0         0        0
298        0    1           534618  ...         0         0        1

[299 rows x 28 columns]

In [20]:
df['rectal_temp']=df['rectal_temp'].fillna(df['rectal_temp'].mode()[0])
df['pulse']=df['pulse'].fillna(df['pulse'].mode()[0])
df['respiratory_rate']=df['respiratory_rate'].fillna(df['respiratory_rate'].mode()[0])
df['nasogastric_reflux_ph']=df['nasogastric_reflux_ph'].fillna(df['nasogastric_reflux_ph'].mode()[0])
df['packed_cell_volume']=df['packed_cell_volume'].fillna(df['packed_cell_volume'].mode()[0])
df['total_protein']=df['total_protein'].fillna(df['total_protein'].mode()[0])
df['abdomo_protein']=df['abdomo_protein'].fillna(df['abdomo_protein'].mode()[0])

In [21]:
df.isnull().sum()

surgery                  0
age                      0
hospital_number          0
rectal_temp              0
pulse                    0
respiratory_rate         0
temp_of_extremities      0
peripheral_pulse         0
mucous_membrane          0
capillary_refill_time    0
pain                     0
peristalsis              0
abdominal_distention     0
nasogastric_tube         0
nasogastric_reflux       0
nasogastric_reflux_ph    0
rectal_exam_feces        0
abdomen                  0
packed_cell_volume       0
total_protein            0
abdomo_appearance        0
abdomo_protein           0
outcome                  0
surgical_lesion          0
lesion_1                 0
lesion_2                 0
lesion_3                 0
cp_data                  0
dtype: int64

In [22]:
df.isnull().sum()

surgery                  0
age                      0
hospital_number          0
rectal_temp              0
pulse                    0
respiratory_rate         0
temp_of_extremities      0
peripheral_pulse         0
mucous_membrane          0
capillary_refill_time    0
pain                     0
peristalsis              0
abdominal_distention     0
nasogastric_tube         0
nasogastric_reflux       0
nasogastric_reflux_ph    0
rectal_exam_feces        0
abdomen                  0
packed_cell_volume       0
total_protein            0
abdomo_appearance        0
abdomo_protein           0
outcome                  0
surgical_lesion          0
lesion_1                 0
lesion_2                 0
lesion_3                 0
cp_data                  0
dtype: int64

In [18]:
x = df.drop('outcome',axis=1)
y=df.outcome

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [25]:
from sklearn.tree import DecisionTreeClassifier
print(x_train.shape)

(209, 27)

In [26]:
model = DecisionTreeClassifier()

In [27]:
model.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [30]:
y_pred=model.predict(x_test)

In [29]:
from sklearn.metrics import accuracy_score

In [33]:
accuracy_score(y_test,y_pred)

0.6888888888888889

In [34]:
from sklearn.ensemble import RandomForestClassifier

In [35]:
model1 = RandomForestClassifier()

In [37]:
model1.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [41]:
y_pred1=model1.predict(x_test)

In [43]:
a1 = accuracy_score(y_pred1,y_test)

In [44]:
a1

0.6888888888888889