<a href="https://colab.research.google.com/github/RojaCM/Sample-files/blob/main/Real%20estate%20project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Bengaluru_House_Data.csv to Bengaluru_House_Data.csv

In [3]:
dataset = pd.read_csv('Bengaluru_House_Data.csv')

In [4]:
dataset.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]

In [5]:
dataset['area_type'].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [6]:
dataset['area_type'].value_counts()

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64

In [7]:
dataset.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [8]:
# Drop the features which are not required to bulid our model.

In [9]:
df1 = dataset.drop(['area_type','availability','balcony','society'],axis=1)

In [10]:
df1.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [11]:
df1.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [12]:
df1.shape

(13320, 5)

In [13]:
df2 = df1.dropna()

In [14]:
df2

                       location       size total_sqft  bath   price
0      Electronic City Phase II      2 BHK       1056   2.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                      Kothanur      2 BHK       1200   2.0   51.00
...                         ...        ...        ...   ...     ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00
13316             Richards Town      4 BHK       3600   5.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00
13319              Doddathoguru      1 BHK        550   1.0   17.00

[13246 rows x 5 columns]

In [15]:
df2.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [16]:
df2.shape

(13246, 5)

In [17]:
df2['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [18]:
a = lambda x,y:x+y
a(4,5)

9

In [19]:
df2['bhk'] = df2['size'].apply(lambda x: int(x.split(' ')[0]))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
df2['bhk'].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18])

In [21]:
df2[df2['bhk'] > 20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [22]:
 df2['total_sqft'].head(10)

0    1056
1    2600
2    1440
3    1521
4    1200
5    1170
6    2732
7    3300
8    1310
9    1020
Name: total_sqft, dtype: object

In [23]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [24]:
 df2[~df2['total_sqft'].apply(is_float)].head(10)

In [39]:
df2

                       location       size total_sqft  bath   price  bhk
0      Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2                   Uttarahalli      3 BHK       1440   2.0   62.00    3
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                      Kothanur      2 BHK       1200   2.0   51.00    2
...                         ...        ...        ...   ...     ...  ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00    5
13316             Richards Town      4 BHK       3600   5.0  400.00    4
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00    2
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00    4
13319              Doddathoguru      1 BHK        550   1.0   17.00    1

[13246 rows x 6 columns]

In [40]:
def sqft_to_num(x):
  tokens = x.split('-')
  if len(tokens) == 2:
    return (float(tokens[0])+float(tokens[1]))/2
  try:
     return float(x)
  except:
     return None

In [41]:
df3 = df2.copy()
df3.total_sqft = df3.total_sqft.apply(sqft_to_num)
df3 = df3[df3.total_sqft.notnull()]
df3.head(2)

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4

In [42]:
df3.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [46]:
df4 = df3.copy()

In [47]:
df4['price_sqft'] = df4['price']*100000/df4['total_sqft']

In [48]:
df4

                       location       size  ...  bhk    price_sqft
0      Electronic City Phase II      2 BHK  ...    2   3699.810606
1              Chikka Tirupathi  4 Bedroom  ...    4   4615.384615
2                   Uttarahalli      3 BHK  ...    3   4305.555556
3            Lingadheeranahalli      3 BHK  ...    3   6245.890861
4                      Kothanur      2 BHK  ...    2   4250.000000
...                         ...        ...  ...  ...           ...
13315                Whitefield  5 Bedroom  ...    5   6689.834926
13316             Richards Town      4 BHK  ...    4  11111.111111
13317     Raja Rajeshwari Nagar      2 BHK  ...    2   5258.545136
13318           Padmanabhanagar      4 BHK  ...    4  10407.336319
13319              Doddathoguru      1 BHK  ...    1   3090.909091

[13200 rows x 7 columns]

In [52]:
len(df4['location'].unique())

1298

In [55]:
df4.location = df4.location.apply(lambda x: x.strip())

In [56]:
df4.location

0        Electronic City Phase II
1                Chikka Tirupathi
2                     Uttarahalli
3              Lingadheeranahalli
4                        Kothanur
                   ...
13315                  Whitefield
13316               Richards Town
13317       Raja Rajeshwari Nagar
13318             Padmanabhanagar
13319                Doddathoguru
Name: location, Length: 13200, dtype: object

In [58]:
location_stats = df4.location.value_counts(ascending=False)

In [59]:
location_stats

Whitefield             533
Sarjapur  Road         392
Electronic City        304
Kanakpura Road         264
Thanisandra            235
                      ...
D Souza Layout           1
CQAL LAYOUT C BLOCK      1
1 Giri Nagar             1
Halanayakanahalli        1
Vidhyanagar Cross        1
Name: location, Length: 1287, dtype: int64

In [65]:
location_stats1 = df4.groupby('location')['location'].agg('count').sort_values(ascending=False)

In [66]:
location_stats1

location
Whitefield              533
Sarjapur  Road          392
Electronic City         304
Kanakpura Road          264
Thanisandra             235
                       ...
Kumbhena Agrahara         1
Kudlu Village,            1
Konappana Agrahara        1
Kodanda Reddy Layout      1
1 Annasandrapalya         1
Name: location, Length: 1287, dtype: int64

In [69]:
len(location_stats[location_stats < 10])

1033

In [72]:
location_less10 = location_stats[location_stats <=10]

In [75]:
location_less10

1st Block Koramangala    10
Nagappa Reddy Layout     10
Gunjur Palya             10
Sector 1 HSR Layout      10
Basapura                 10
                         ..
D Souza Layout            1
CQAL LAYOUT C BLOCK       1
1 Giri Nagar              1
Halanayakanahalli         1
Vidhyanagar Cross         1
Name: location, Length: 1047, dtype: int64

In [74]:
len(df4.location.unique())

1287

In [78]:
df4.location = df4.location.apply(lambda x:'other' if x in location_less10 else x )

In [82]:
len(df4.location.unique())

241

In [83]:
df4

                       location       size  ...  bhk    price_sqft
0      Electronic City Phase II      2 BHK  ...    2   3699.810606
1              Chikka Tirupathi  4 Bedroom  ...    4   4615.384615
2                   Uttarahalli      3 BHK  ...    3   4305.555556
3            Lingadheeranahalli      3 BHK  ...    3   6245.890861
4                      Kothanur      2 BHK  ...    2   4250.000000
...                         ...        ...  ...  ...           ...
13315                Whitefield  5 Bedroom  ...    5   6689.834926
13316                     other      4 BHK  ...    4  11111.111111
13317     Raja Rajeshwari Nagar      2 BHK  ...    2   5258.545136
13318           Padmanabhanagar      4 BHK  ...    4  10407.336319
13319              Doddathoguru      1 BHK  ...    1   3090.909091

[13200 rows x 7 columns]