<a href="https://colab.research.google.com/github/RojaCM/Sample-files/blob/main/Regularization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [204]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge,Lasso,ElasticNet

In [205]:
from google.colab import files
uplaoded = files.upload()

Saving bigmart_train.csv to bigmart_train (2).csv

In [206]:
uplaoded = files.upload()

Saving bigmart_test.csv to bigmart_test (2).csv

In [249]:
train1 =pd.read_csv('bigmart_train.csv')
test1 = pd.read_csv('bigmart_test.csv')

In [250]:
train1.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [251]:
train1.shape

(8523, 12)

In [252]:
test1.shape

(5681, 11)

In [253]:

train1.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [254]:

#1.Item_Identifier	 - product id's not a relevant variable
#2.Item_Weight - continuous data,floating data type
#3.Item_Fat_Content - categorical variable ,ordered 
#4.Item_Visibility - continuous data 
#5.Item_Type - not a relevant variable
#6.Item_MRP - continuous data
#7.Outlet_Identifier - not a relevant variable
#8.Outlet_Establishment_Year - modify the variable by subtracting the Outlet_Establishment_Year with current year
#9.Outlet_Size	Outlet_Location_Type - categorical and ordered
#10.Outlet_Type	- not ordered
#11.Item_Outlet_Sales - continuous data -target variable

In [255]:
train1.drop(['Item_Identifier','Item_Type','Outlet_Identifier'],axis=1,inplace=True)

In [256]:
test1.drop(['Item_Identifier','Item_Type','Outlet_Identifier'],axis=1,inplace=True)

In [257]:
train1.isnull().sum()

Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_MRP                        0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [258]:
train1['Item_Weight'] = train1['Item_Weight'].fillna(train1['Item_Weight'].mean())

In [259]:
train1['Outlet_Size'] = train1['Outlet_Size'].fillna(train1['Outlet_Size'].mode()[0])

In [260]:
train1.isnull().sum()

Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_MRP                     0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [261]:
test1['Item_Weight']=test1['Item_Weight'].fillna(test1['Item_Weight'].mean())
test1['Outlet_Size']=test1['Outlet_Size'].fillna(test1['Outlet_Size'].mode()[0])

In [262]:
test1.isnull().sum()

Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_MRP                     0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [263]:
train1['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [264]:
train1['Item_Fat_Content'] = train1['Item_Fat_Content'].replace(['low fat', 'LF'],'Low Fat')

In [265]:
 test1['Item_Fat_Content'] = test1['Item_Fat_Content'].replace(['low fat', 'LF'],'Low Fat')

In [266]:
train1['Item_Fat_Content'] = train1['Item_Fat_Content'].replace('Regular','reg')

In [267]:
test1['Item_Fat_Content'] = test1['Item_Fat_Content'].replace('Regular','reg')

In [268]:
train1['Item_Fat_Content'].unique()

array(['Low Fat', 'reg'], dtype=object)

In [269]:
train1['Outlet_Establishment_Year']=2021- train1['Outlet_Establishment_Year']

In [270]:
test1['Outlet_Establishment_Year']= 2021-test1['Outlet_Establishment_Year']

In [271]:
test1

      Item_Weight Item_Fat_Content  ...  Outlet_Location_Type        Outlet_Type
0       20.750000          Low Fat  ...                Tier 1  Supermarket Type1
1        8.300000              reg  ...                Tier 2  Supermarket Type1
2       14.600000          Low Fat  ...                Tier 3      Grocery Store
3        7.315000          Low Fat  ...                Tier 2  Supermarket Type1
4       12.695633              reg  ...                Tier 3  Supermarket Type3
...           ...              ...  ...                   ...                ...
5676    10.500000              reg  ...                Tier 1  Supermarket Type1
5677     7.600000              reg  ...                Tier 3  Supermarket Type2
5678    10.000000          Low Fat  ...                Tier 2  Supermarket Type1
5679    15.300000              reg  ...                Tier 2  Supermarket Type1
5680     9.500000              reg  ...                Tier 2  Supermarket Type1

[5681 rows x 8 columns]

In [272]:
test1['Outlet_Establishment_Year'] = 2021 - test1['Outlet_Establishment_Year']

In [273]:
test1

      Item_Weight Item_Fat_Content  ...  Outlet_Location_Type        Outlet_Type
0       20.750000          Low Fat  ...                Tier 1  Supermarket Type1
1        8.300000              reg  ...                Tier 2  Supermarket Type1
2       14.600000          Low Fat  ...                Tier 3      Grocery Store
3        7.315000          Low Fat  ...                Tier 2  Supermarket Type1
4       12.695633              reg  ...                Tier 3  Supermarket Type3
...           ...              ...  ...                   ...                ...
5676    10.500000              reg  ...                Tier 1  Supermarket Type1
5677     7.600000              reg  ...                Tier 3  Supermarket Type2
5678    10.000000          Low Fat  ...                Tier 2  Supermarket Type1
5679    15.300000              reg  ...                Tier 2  Supermarket Type1
5680     9.500000              reg  ...                Tier 2  Supermarket Type1

[5681 rows x 8 columns]

In [274]:
train1['Outlet_Location_Type'].unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [275]:
train1['Outlet_Size'].unique()

array(['Medium', 'High', 'Small'], dtype=object)

In [276]:
train1['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [277]:
l_oltype=LabelEncoder()
l_osize=LabelEncoder()
l_item=LabelEncoder()

In [278]:
test1['Outlet_Location_Type']=l_oltype.fit_transform(test1['Outlet_Location_Type'])
test1['Item_Fat_Content']=l_item.fit_transform(test1['Item_Fat_Content'])
test1['Outlet_Size']=l_osize.fit_transform(test1['Outlet_Size'])

In [279]:
test1.head()

   Item_Weight  Item_Fat_Content  ...  Outlet_Location_Type        Outlet_Type
0    20.750000                 0  ...                     0  Supermarket Type1
1     8.300000                 1  ...                     1  Supermarket Type1
2    14.600000                 0  ...                     2      Grocery Store
3     7.315000                 0  ...                     1  Supermarket Type1
4    12.695633                 1  ...                     2  Supermarket Type3

[5 rows x 8 columns]

In [280]:
train1['Outlet_Location_Type']=l_oltype.fit_transform(train1['Outlet_Location_Type'])
train1['Item_Fat_Content']=l_item.fit_transform(train1['Item_Fat_Content'])
train1['Outlet_Size']=l_osize.fit_transform(train1['Outlet_Size'])

In [281]:
train1

      Item_Weight  Item_Fat_Content  ...        Outlet_Type  Item_Outlet_Sales
0           9.300                 0  ...  Supermarket Type1          3735.1380
1           5.920                 1  ...  Supermarket Type2           443.4228
2          17.500                 0  ...  Supermarket Type1          2097.2700
3          19.200                 1  ...      Grocery Store           732.3800
4           8.930                 0  ...  Supermarket Type1           994.7052
...           ...               ...  ...                ...                ...
8518        6.865                 0  ...  Supermarket Type1          2778.3834
8519        8.380                 1  ...  Supermarket Type1           549.2850
8520       10.600                 0  ...  Supermarket Type1          1193.1136
8521        7.210                 1  ...  Supermarket Type2          1845.5976
8522       14.800                 0  ...  Supermarket Type1           765.6700

[8523 rows x 9 columns]

In [282]:
dummy = pd.get_dummies(train1['Outlet_Type'])
dummy1 = pd.get_dummies(test1['Outlet_Type'])

In [283]:
dummy

      Grocery Store  Supermarket Type1  Supermarket Type2  Supermarket Type3
0                 0                  1                  0                  0
1                 0                  0                  1                  0
2                 0                  1                  0                  0
3                 1                  0                  0                  0
4                 0                  1                  0                  0
...             ...                ...                ...                ...
8518              0                  1                  0                  0
8519              0                  1                  0                  0
8520              0                  1                  0                  0
8521              0                  0                  1                  0
8522              0                  1                  0                  0

[8523 rows x 4 columns]

In [284]:
new_train = pd.concat([train1,dummy],axis=1)

In [288]:
new_train.drop('Outlet_Type',axis=1,inplace=True)

In [289]:
new_test = pd.concat([test1,dummy1],axis=1)

In [290]:
new_test.drop('Outlet_Type',axis=1,inplace=True)

In [291]:
x = new_train.drop(['Item_Outlet_Sales'], axis = 1)

In [292]:
y = new_train['Item_Outlet_Sales']

In [293]:
lr = LinearRegression()

In [304]:
X_train, X_test, y_train, y_test = train_test_split(x,y,train_size = 0.85, random_state = 5)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(7244, 11)
(1279, 11)
(7244,)
(1279,)

In [301]:
lr.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [305]:
pred = lr.predict(X_test)

In [306]:
from sklearn.metrics import mean_squared_error

In [308]:
print('MSE: ',mean_squared_error(pred,y_test))

print('RMSE: ', np.sqrt(mean_squared_error(pred,y_test)))

MSE:  1287802.1917955792
RMSE:  1134.8137255935792

In [310]:
lr.predict(new_test)[:5]

array([-2289.87228861, -2570.59603674, -2156.30610193, -1562.24050758,
        1166.54411868])

In [311]:
my_model = Ridge()

my_model.fit(X_train, y_train)

predictions = my_model.predict(X_test)

print('MSE: ',mean_squared_error(predictions,y_test))

print('RMSE: ', np.sqrt(mean_squared_error(predictions,y_test)))

MSE:  1289805.1560302393
RMSE:  1135.6958906460125

In [312]:
my_model = Lasso()

my_model.fit(X_train, y_train)

predictions = my_model.predict(X_test)

print('MSE: ',mean_squared_error(predictions,y_test))

print('RMSE: ', np.sqrt(mean_squared_error(predictions,y_test)))

MSE:  1289140.6812255844
RMSE:  1135.4033121431276

In [313]:
my_model = ElasticNet()

my_model.fit(X_train, y_train)

predictions = my_model.predict(X_test)

print('MSE: ',mean_squared_error(predictions,y_test))

print('RMSE: ', np.sqrt(mean_squared_error(predictions,y_test)))

MSE:  1677366.3133952955
RMSE:  1295.1317745292545